  .page{
        border: 5px solid black;
        width:99%;
        height:auto;
        background-color:lightblue;
    }
    .v{
        border-radius:100%;
        padding:10px;
    }
    body {
    text-align: center;
    }
    .logo{
        position:relative;
        left:0px;
        border-radius: 1000px;
    }
    @media screen and (min-width:450px){
     .a{
        padding:15px; 
        top:10px;
        left:450px;
        color: blue;
        }     
    }
    .mySlides{
        width:100%;
    }
    .slides{
        max-width: 100%;
    }
    footer {
        color:red;
    }
    .a{
        padding:15px; 
        top:10px;
        left:450px;
        color: blue;
    }
